html {
  --Bg1: #19c133;
  --Bg2: #000;
  --Text1: white;
  --error: #dc3545;
}
.bg1 {
  background-color: var(--Bg1);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--Bg1);
  color: #fff !important;
}
.nav-pills .nav-link {
  color: black !important;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
._7ahQImyV4dj0EpcNOjnwA {
  background: var(--Bg1) !important;
}
/* .lhyQmCtWOINviMz0WG_gr {
  background: var(--Bg1) !important;
} */

.optionContainer .highlight {
  background: none;
  color: var(--Bg2);
}
.optionContainer li:hover {
  background: var(--Bg1) !important;
  color: var(--Text1);
}
#css_custom_input {
  border: none !important;
}

#css_custom_input::after {
  border: none !important;
}
.modal.show .modal-dialog {
  margin-top: 150px !important;
}
.text-success {
  color: #19c133 !important;
}
.fa-times {
  font-size: small !important;
  color: #19c133;
  cursor: pointer;
}
.fas {
  cursor: pointer !important;
}
.table {
  text-transform: capitalize !important;
  font-weight: 400 !important;
  align-items: center !important;
}
.table-dark {
  background-color: var(--Bg2);
  color: var(--Text1);
  font-size: 14px !important;
  align-items: center !important;
  text-align: center;
}
.firstLetter {
  text-transform: capitalize;
}
.card-tab {
  /* background-color: #f6f8fa !important; */
  padding: 2px !important;
  margin-top: 20px;
}
.bg-light {
  border-color: #19c133;
  color: #000;
  text-transform: capitalize;
}
.option_ul {
  padding: 0;
  margin: 0;
}
.option_li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
}
.option_p {
  margin-bottom: 0;
  text-transform: capitalize;
  width: 50%;
}
.option_span {
  color: #19c133 !important;
  width: 100px !important;
  text-align: left !important;
  font-weight: 500 !important;
}

.option_button {
  border: unset;
  background-color: #19c133 !important;
  color: #fff !important;
  font-size: 13px !important;
  border-radius: 4px !important;
  padding: 3px 8px !important;
}
.card-link {
  cursor: pointer;
}
.option_button[disabled],
html input[disabled] {
  background-color: #cccc !important;
  color: #000 !important;
}
.icofont-ui {
  cursor: pointer;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: #19c133 1.5em 0 0 0, #19c133 1.1em 1.1em 0 0,
    #19c133 0 1.5em 0 0, #19c133 -1.1em 1.1em 0 0, #19c133 -1.5em 0 0 0,
    #19c133 -1.1em -1.1em 0 0, #19c133 0 -1.5em 0 0, #19c133 1.1em -1.1em 0 0;
  box-shadow: #19c133 1.5em 0 0 0, #19c133 1.1em 1.1em 0 0, #19c133 0 1.5em 0 0,
    #19c133 -1.1em 1.1em 0 0, #19c133 -1.5em 0 0 0, #19c133 -1.1em -1.1em 0 0,
    #19c133 0 -1.5em 0 0, #19c133 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.btn-secondary{
  background-color: #1b1b1c;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}
.selectCard{
  border: 1px solid #19c133;
}
.input1{
  border: 1px solid #ccc !important;
  outline: unset !important;
  width: 100%;
  border: unset;
  padding: 6px 10px;
  background: #fff;
  border-radius: 4px;
  font-size: 13px;
  height: 25px !important;
}

.text1{
  font-size: 13px !important;
}
